ansible-playbook/ansible_play/inventory/inventory.ini
.venv
ansible-playbook/ansible_play/vars/main.yaml
terraform/tf_ec2_ansible/.terraform
# Ignore Terraform provider files
.terraform/
terraform/.terraform/
terraform/**/.terraform/
terraform/tf_ec2_ansible/inventory.ini
terraform/tf_ec2_ansible/variables.yaml
terraform/terraform.tfstate.backup
terraform/terraform.tfstate
terraform/terraform.lock.hcl
terraform/eks_cluster/terraform.tfstate.backup
terraform/eks_cluster/terraform.tfstate
terraform/eks_cluster/.terraform.lock.hcl
terraform/eks_cluster/.terraform.tfstate.lock.info
terraform/eks_cluster/plan.json
terraform/eks_cluster/plan.tfplan
terraform/eks_cluster/.terraform
terraform/eks_cluster/tf_formbackups
terraform/tf_ec2_ansible/awscliv2.zip
terraform/tf_ec2_ansible/aws
terraform/eks_cluster/tf_form_backups/*
ansible-playbook/ansible_play/inventory/inventory.ini
terraform/.terraform.lock.hcl